.a{
	position: absolute;
	top:155px;
	left: 110px

}
.b{
	border: solid 1px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	padding-top:350px;
	margin:140px 35px 140px 35px;
}
.c{
	position: absolute;
	top: 130px;
	left:550px;
	font-family: "微軟正黑體";
	font-size: 36px;
	font-weight: bold;
	width: 750px;
}